ArtifactNames/TestExe
ArtifactNames/bin/TestDLib.o
ArtifactNames/bin/TestExe.o
ArtifactNames/bin/TestSLib.o
ArtifactNames/libTestDLib.dylib
ArtifactNames/libTestDLib.so
ArtifactNames/libTestSLib.a

Defines/bin/TestEmpty.o
Defines/bin/TestNumber.o
Defines/bin/TestString.o
Defines/DefineEmpty
Defines/DefineNumber
Defines/DefineString

Includes/bin/Test.o
Includes/Test

StandardVersion/bin/*.o
StandardVersion/c90
StandardVersion/c99
StandardVersion/c11
StandardVersion/c17
StandardVersion/c23

Clean/bin/a.o
Clean/libmeth.dylib
Clean/libmeth.so

UnitTest/StringArrayTest
UnitTest/StringArrayTest.dSYM
